.alert {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  line-height: normal;
  font-weight: 400;
  span.material-icons {
    margin-right: 5px;
  }
  &.err {
    background: #e66262;
    color: white;
  }
  &.warn {
    background: $orange;
    color: white;
  }
  &.ok {
    color: white;
    background: #8ac179;
  }

}