.form-login {
  margin-top: 1rem;
  button {

    display: block;
    margin: 1rem auto;
  }
}
.form-login-content {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
