@mixin mobil-only {
  @media only screen and (max-width: #{$mobil}){
    @content;
  }
}

@mixin bp-mobil {
  @media only screen and (min-width: #{$mobil}) and (max-width: #{$tablet}){
    @content;
  }
}

@mixin bp-tablet {
  @media only screen and (min-width: #{$tablet}) and (max-width: #{$desktop}){
    @content;
  }
}

@mixin bp-desktop {
  @media only screen and (min-width: #{$desktop}){
    @content;
  }
}


@mixin mobil {
  @media only screen and (min-width: #{$mobil}){
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet}){
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}){
    @content;
  }
}

@mixin degradado($color1, $color2) {
  background: linear-gradient(to right, $color1 0%, $color2 100%) !important;
}
